<%= form_for(@trailhead) do |f| %>
  <% if @trailhead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailhead.errors.count, "error") %> prohibited this trailhead from being saved:</h2>

      <ul>
      <% @trailhead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='formAnswer'>NOTE: Trail names in the trailhead data MUST match the trail names in the trail data EXACTLY.</div>
  <br>
  <div class="field">
    <span class='h3-Edit'><%= f.label :name %></span>
    <%= f.text_field :name, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :park %></span>
    <%= f.text_field :park, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :address %></span>
    <%= f.text_field :address, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :city %></span>
    <%= f.text_field :city, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :state %></span>
    <%= f.text_field :state, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :zip %></span>
    <%= f.text_field :zip, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :source %></span>
    <span class='formAnswer'><%= @trailhead.source.code %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :steward %></span>
    <span class='finePrint'>This is organization trailhead users should contact for more information.</span>
    <%= f.select :steward_id, Organization.all.collect{ |org| [org.code, org.id]} %>
    <br>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :location %></span>
    <span class='formAnswer'><%= @trailhead.geom %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :parking %></span>
    <%= f.select :parking, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :drinkwater %></span>
    <%= f.select :drinkwater, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :restrooms %></span>
    <%= f.select :restrooms, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :kiosk %></span>
    <%= f.select :kiosk, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail1 %></span>
    <%= f.text_field :trail1, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail2 %></span>
    <%= f.text_field :trail2, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail3 %></span>
    <%= f.text_field :trail3, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail4 %></span>
    <%= f.text_field :trail4, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail5 %></span>
    <%= f.text_field :trail5, size: 50 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail6 %></span>
    <%= f.text_field :trail6, size: 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= f.submit :Cancel %>
  </div>
<% end %>
