<%= form_for(@trailhead) do |f| %>
  <% if @trailhead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailhead.errors.count, "error") %> prohibited this trailhead from being saved:</h2>

      <ul>
      <% @trailhead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>NOTE: Take care editing trail names. These names in the trailhead data must match the trail names in the trail data EXACTLY.</div>
  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :source %>:
    <%= @trailhead.source.code %>
  </div>
  <div class="field">
    <%= f.label :steward %>:
    <%= @trailhead.steward.code %>
  </div>
  <div class="field">
    <%= f.label :trail1 %>:
    <%= f.text_field :trail1, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :trail2 %>:
    <%= f.text_field :trail2, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :trail3 %>:
    <%= f.text_field :trail3, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :trail4 %>:
    <%= f.text_field :trail4, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :trail5 %>:
    <%= f.text_field :trail5, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :trail6 %>:
    <%= f.text_field :trail6, size: 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= f.submit :Cancel %>
  </div>
<% end %>
