<h1>Trailheads</h1>
<p class='uploadDescription'>
  Upload a GeoJSON file or shapefile (all shapefile component files collected into a single .zip file) of your current trailhead data to update this list (make sure it follows the <a href="https://docs.google.com/a/codeforamerica.org/document/d/1frt5HkKTdqEaNEnfk2Dq9IYxctvPjVnoU_F33Px2zSQ/edit" target="_blank">standard</a>). Note: this will replace all of your organization's existing data! Before replacing content, we recommend downloading your current data in case anything goes wrong. You can download the current trailhead data for 

  <% if current_user.admin? %>
    <%= link_to "all sources", {action: "index", format: :json}, target: "_blank" %>
    <% else %>
    <%= link_to "#{current_user.organization.code}", {action: "index", source_id: current_user.organization_id, format: :json}, target: "_blank" %>    
    <% end %>
    here.
    </p>


<%= form_tag({ action: :upload }, multipart: true) do %>
  <% if current_user.admin? %>
  <%= select_tag "source_id", options_from_collection_for_select(Organization.all, :id, :code) %>
  <% else %>
  <%= hidden_field_tag 'source_id', current_user.organization.id %>
  <% end %>
  <%= file_field_tag 'trailheads' %><br>

  <%= submit_tag "Test Upload", id: "submitData", data: { confirm: 'Are you sure? If the "Replace Existing Data" box is checked, this will replace all of your existing trail data.' } %>
  <%= label_tag :confirmed, 'Replace Existing Data' %>
  <%= check_box_tag 'confirmed', 'Confirm', false, {id: "confirmed", onclick: "if ($('#confirmed').is(':checked')) { $('#submitData').val('Upload Data') } else {  $('#submitData').val('Test Upload'); }"} %> 
<% end %>
<br>
<% if current_user.admin? %>
<p class='tableCaption'>
  Showing all trailheads.
</p>
<% else %>
<span class='tabLeft <%= "active" if params[:all] == "true" %>'><%= link_to "All Trailheads", :action => "index", :all => "true" %></span>

<span class='tabRight <%= "active" if params[:all] == "false" || params[:all].nil? %>'><%= link_to "Only #{current_user.organization.code} Trailheads", :action => "index", :all => "false" %></span>

<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Steward</th>
      <th>Trails</th>
      <th colspan=3>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @trailheads.each do |trailhead| %>
      <tr>
        <td><%= trailhead.name %></td>
        <td><%= trailhead.source.code %></td>
        <td><%= trailhead.steward.code %></td>
        <td>
          <ul>
          <% %w[trail1 trail2 trail3 trail4 trail5 trail6].each do |trail| %>
            <% if !(trailhead["#{trail}"].nil?) && trailhead["#{trail}"].size > 0 && trailhead["#{trail}"] != " " %>
              <li><%= trailhead["#{trail}"] %></li>
            <% end %>
          <% end %>
          </ul>
        </td>
        <% if (current_user.admin? || current_user.organization == trailhead.source) %>
        <td><%= link_to 'View', trailhead, :class => "tableLink" %></td>
        <td><%= link_to 'Edit', edit_trailhead_path(trailhead), :class => "tableLink" %></td>
        <td><%= link_to 'Delete', trailhead, :class => "tableLink-delete", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

