<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trailhead.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @trailhead.source.code %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trailhead.geom %>
</p>

<p>
  <strong>Trail1:</strong>
  <%= @trailhead.trail1 %>
</p>

<p>
  <strong>Trail2:</strong>
  <%= @trailhead.trail2 %>
</p>

<p>
  <strong>Trail3:</strong>
  <%= @trailhead.trail3 %>
</p>

<p>
  <strong>Trail4:</strong>
  <%= @trailhead.trail4 %>
</p>

<p>
  <strong>Trail5:</strong>
  <%= @trailhead.trail5 %>
</p>

<p>
  <strong>Trail6:</strong>
  <%= @trailhead.trail6 %>
</p>


<%= link_to 'Edit', edit_trailhead_path(@trailhead) %> |
<%= link_to 'Back', trailheads_path %>
