<p id="notice"><%= notice %></p>

<div class='formContent-Show'>
  <h3>
    Name:
    <span class='formAnswer'><%= @trailhead.name %></span>
  </h3>
  <h3>
    Park:
    <span class='formAnswer'><%= @trailhead.park %></span>
  </h3>
  <h3>
    Address:
    <span class='formAnswer'><%= @trailhead.address %></span>
  </h3>
  <h3>
    City:
    <span class='formAnswer'><%= @trailhead.city %></span>
  </h3>
  <h3>
    State:
    <span class='formAnswer'><%= @trailhead.state %></span>
  </h3>
  <h3>
    Zip:
    <span class='formAnswer'><%= @trailhead.zip %></span>
  </h3>
  <h3>
    Source:
    <span class='formAnswer'><%= @trailhead.source.code %></span>
  </h3>

  <h3>
    Location:
    <span class='formAnswer'><%= @trailhead.geom %></span>
  </h3>
  <h3>
    Parking:
    <span class='formAnswer'><%= @trailhead.parking %></span>
  </h3>
  <h3>
    Drinking Water:
    <span class='formAnswer'><%= @trailhead.drinkwater %></span>
  </h3>
  <h3>
    Restrooms:
    <span class='formAnswer'><%= @trailhead.restrooms %></span>
  </h3>
  <h3>
    Kiosk:
    <span class='formAnswer'><%= @trailhead.kiosk %></span>
  </h3>
  <h3>
    Trail1:
    <span class='formAnswer'><%= @trailhead.trail1 %></span>
  </h3>

  <h3>
    Trail2:
    <span class='formAnswer'><%= @trailhead.trail2 %></span>
  </h3>

  <h3>
    Trail3:
    <span class='formAnswer'><%= @trailhead.trail3 %></span>
  </h3>

  <h3>
    Trail4:
    <span class='formAnswer'><%= @trailhead.trail4 %></span>
  </h3>

  <h3>
    Trail5:
    <span class='formAnswer'><%= @trailhead.trail5 %></span>
  </h3>

  <h3>
    Trail6:
    <span class='formAnswer'><%= @trailhead.trail6 %></span>
  </h3>
</div>

<div class='formButtons'>
  <!--back button <span class='backButton'>
    <%= link_to 'Back', trailheads_path %>
  </span> -->
  <span class='addNewButton'>
    <%= link_to 'Edit', edit_trailhead_path(@trailhead) %>
  </span>
</div>
