<h1>Processed Trailhead Upload</h1>
<%= link_to "Back to Trailhead Listing", trailheads_path %>
<% if current_user.admin? %>
<h3>Source matches (matching "<%= @source.code %>")
<% else %>
<h3>Source matches (matching "<%= current_user.organization.code %>")</h3>
<% end %>
<table>
  <tr>
    <th>
      Status
    </th>
    <th>
      Trailhead Name
    </th>
    <th>
      Import errors
    </th>
  </tr>
  <% @added_trailheads.each do |added_trailhead| %>
  <tr>
    <td>
      <% if added_trailhead[:success] %>
      <b>Added</b>
      <% else %>
      <b>Not Added</b> 
      <% end %>
    </td>
    <td>
      <%= added_trailhead[:trailhead].name %>
    </td>
    <td>
      <%= added_trailhead[:message] %>
    </td>
  </tr>
  <% end %>
  <% @removed_trailheads.each do |removed_trailhead| %>
  <tr>
    <td>  
      <% if removed_trailhead[:success] %>
      <b>Deleted</b> 
      <% else %>
      <b>Not Deleted</b>
      <% end %>
    </td>
    <td>
      <%= removed_trailhead[:trailhead].name %>
    </td>
    <td>
      <%= removed_trailhead[:trailhead].created_at %>
    </td>
  </tr>
  <% end %>
</table>
<!-- <h3>Source non-matches (should be "<%= @source.code %>")</h3>
<table>
  <tr>
    <th>Trailhead name</th>
    <th>Source field in Upload</th>
  </tr>
<% @non_source_trailheads.each do |trailhead| %>
  <tr>
    <td>
      <%= trailhead.name %>
    </td>
    <td>
      <%= trailhead.source.code %>
    </td>
  </tr>
<% end %>
</table>
-->
<%= link_to "Back to Trailhead Listing", trailheads_path %>