<h1>Trailhead Upload Complete</h1>
<p>Note: See the table below for specific information regarding the upload for each trailhead listing.</p> 
<p>Errors are featured within the table.</p>

<!--<%= link_to "Back to Trailhead Listing", trailheads_path %>-->
<p>
<% if @confirmed %>
  Trailhead data updated. Note the changes below.
<% else %>
  See your proposed changes below. Your trail data has NOT been permanently updated. To update your data, hit the "back" button on your browser and check the "Confirmed" checkbox before submitting. Note that duplicate trailhead names aren't detected during this preview.
<% end %>

<% if current_user.admin? %>

<p class='tableCaption'>Source matches (matching "<%= @source.code %>")</p>
<% else %>
<p class='tableCaption'>Source matches (matching "<%= current_user.organization.code %>")</p>
<% end %>
</p>
<table>
  <tr>
    <th>
      Status
    </th>
    <th>
      Trailhead Name
    </th>
    <th>
      Import errors
    </th>
  </tr>
  <% @added_trailheads.each do |added_trailhead| %>
  <tr>
    <td>
      <% if added_trailhead[:success] %>
      <b><%= @confirmed ? "Added" : "Would Be Added" %></b>
      <% else %>
      <b><%= @confirmed ? "Not Added" : "Would Not Be Added" %></b> 
      <% end %>
    </td>
    <td>
      <%= added_trailhead[:trailhead].name %>
    </td>
    <td>
      <%= added_trailhead[:message] %>
    </td>
  </tr>
  <% end %>
  <% @removed_trailheads.each do |removed_trailhead| %>
  <tr>
    <td>  
      <% if removed_trailhead[:success] %>
      <b><%= @confirmed ? "Deleted" : "Would Be Deleted" %></b>  
      <% else %>
      <b><%= @confirmed ? "Not Deleted" : "Would Not Be Deleted" %></b>
      <% end %>
    </td>
    <td>
      <%= removed_trailhead[:trailhead].name %>
    </td>
    <td>
      <%= removed_trailhead[:trailhead].created_at %>
    </td>
  </tr>
  <% end %>
</table>
<!-- <h3>Source non-matches (should be "<%= @source.code %>")</h3>
<table>
  <tr>
    <th>Trailhead name</th>
    <th>Source field in Upload</th>
  </tr>
<% @non_source_trailheads.each do |trailhead| %>
  <tr>
    <td>
      <%= trailhead.name %>
    </td>
    <td>
      <%= trailhead.source.code %>
    </td>
  </tr>
<% end %>
</table>
-->