<%= form_for(@trailsegment) do |f| %>
  <% if @trailsegment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailsegment.errors.count, "error") %> prohibited this trailsegment from being saved:</h2>

      <ul>
      <% @trailsegment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class='h3-Edit'><%= f.label :source %></span>
    <span class='finePrint'> This is the organization who uploaded the info.</span>
    <span class='formAnswer'><%= @trailsegment.source.code %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :steward %></span>
    <span class='finePrint'>This is the organization the park visitor should contanct for more information. </span>
    <span class='formAnswer'><%= f.select :steward_id, Organization.all.collect{ |org| [org.code, org.id]} %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :length %></span>
    <span class='finePrint'>Note: This number is automatically rounded to the first decimal point in the user-facing application.</span>
    <%= f.text_field :length %>
    <span class='formAnswer'>miles</span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail1 %></span>
    <%= f.text_field :trail1, size: 80 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail2 %></span>
    <%= f.text_field :trail2, size: 80 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail3 %></span>
    <%= f.text_field :trail3, size: 80 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail4 %></span>
    <%= f.text_field :trail4, size: 80 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail5 %></span>
    <%= f.text_field :trail5, size: 80 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trail6 %></span>
    <%= f.text_field :trail6, size: 80 %>
  </div>
  
  <br>
  <div class='finePrint'>The following y/n fields are not currently being used in the user-facing app. Feel free to input this information for future use.</div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :accessible, "Accessible" %></span>
    <%= f.select :accessible, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :hike, "Hiking" %></span>
    <%= f.select :hike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :equestrian %></span>
    <%= f.select :equestrian, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :xcntryski, "Cross-Country Ski" %></span>
    <%= f.select :xcntryski, ["y", "n"], {include_blank: true} %>
  </div>
  <!-- We aren't displaying this in trailsy, so hiding it here 
  <div class="field">
    <span class='h3-Edit'><%= f.label :dogs %></span>
    <%= f.select :dogs, ["y", "n"], {include_blank: true} %>
  </div> -->
  <div class="field">
    <span class='h3-Edit'><%= f.label :roadbike, "Road Bikes" %></span>
    <%= f.select :roadbike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :mtnbike, "Mountain Bikes" %></span>
    <span class='finePrint'>This field has been manually disabled in the user-facing app (the button is gray). If you select "y" get in touch with the admin so that the html/css can be updated and users can begin filtering for mountain bikes.</span>
    <%= f.select :mtnbike, ["y", "n"], {include_blank: true} %>
  </div>


  <div class="actions">
    <%= f.submit %>
    <%= f.submit :Cancel %>
  </div>
<% end %>
