<%= form_for(@trailsegment) do |f| %>
  <% if @trailsegment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailsegment.errors.count, "error") %> prohibited this trailsegment from being saved:</h2>

      <ul>
      <% @trailsegment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br>
    <%= @trailsegment.source %>
  </div>
  <div class="field">
    <%= f.label :steward %><br>
    <%= f.text_field :steward %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :trail1 %><br>
    <%= f.text_field :trail1 %>
  </div>
  <div class="field">
    <%= f.label :trail2 %><br>
    <%= f.text_field :trail2 %>
  </div>
  <div class="field">
    <%= f.label :trail3 %><br>
    <%= f.text_field :trail3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
