<%= form_for(@trailsegment) do |f| %>
  <% if @trailsegment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailsegment.errors.count, "error") %> prohibited this trailsegment from being saved:</h2>

      <ul>
      <% @trailsegment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br>
    <%= @trailsegment.source.code %>
  </div>
  <div class="field">
    <%= f.label :steward %><br>
    <%= f.select :steward_id, Organization.all.collect{ |org| [org.code, org.id]} %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :accessible, "Accessible" %>:
    <%= f.select :accessible, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :hike, "Hiking" %>:
    <%= f.select :hike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :equestrian %>:
    <%= f.select :equestrian, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :xcntryski, "Cross-Country Ski" %>:
    <%= f.select :xcntryski, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :dogs %>:
    <%= f.select :dogs, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :roadbike, "Road Bikes" %>:
    <%= f.select :roadbike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :mtnbike, "Mountain Bikes" %>:
    <%= f.select :mtnbike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :trail1 %><br>
    <%= f.text_field :trail1, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :trail2 %><br>
    <%= f.text_field :trail2, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :trail3 %><br>
    <%= f.text_field :trail3, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :trail4 %><br>
    <%= f.text_field :trail4, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :trail5 %><br>
    <%= f.text_field :trail5, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :trail6 %><br>
    <%= f.text_field :trail6, size: 80 %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= f.submit :Cancel %>
  </div>
<% end %>
