<h1>Listing Segments</h1>

<%= link_to "All Segments", :action => "index", :all => "true" %>

<%= link_to "#{current_user.organization} Segments", :action => "index" %>
<table>
  <thead>
    <tr>
      <th>Length</th>
      <th>Source</th>
      <th>Steward</th>
      <th>Name1</th>
      <th>Name2</th>
      <th>Name3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trailsegments.each do |trailsegment| %>
      <tr>
        <td><%= trailsegment.length %></td>
        <td><%= trailsegment.source %></td>
        <td><%= trailsegment.steward %></td>
        <td><%= trailsegment.trail1 %></td>
        <td><%= trailsegment.trail2 %></td>
        <td><%= trailsegment.trail3 %></td>
        <td><%= link_to 'Show', trailsegment %></td>
        <td><%= link_to 'Edit', edit_trailsegment_path(trailsegment) %></td>
        <td><%= link_to 'Destroy', trailsegment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trailsegment', new_trailsegment_path %>
