<h1>Segment List</h1>

<hr>
Upload new segments (this will replace all of your organization's current data!)
<br><br>
<%= form_tag({ action: :upload }, multipart: true) do %>
  <% if current_user.admin? %>
  <%= text_field_tag 'source', nil, placeholder: "Organization" %>
  <% else %>
  <%= hidden_field_tag 'source', current_user.organization %>
  <% end %>
  <%= file_field_tag 'trailsegments' %><br>
  <%= submit_tag "Submit" %>
<% end %>
<hr>
<% if current_user.admin? %>
Showing all trail segments.
<% else %>
<%= link_to "Show all segments", :action => "index", :all => "true" %>

<%= link_to "Show #{current_user.organization} segments only", :action => "index", :all => "false" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Length</th>
      <th>Source</th>
      <th>Steward</th>
      <th>Trails</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trailsegments.each do |trailsegment| %>
      <tr>
        <td><%= trailsegment.length %></td>
        <td><%= trailsegment.source.code %></td>
        <td><%= trailsegment.steward.code %></td>
        <td>
          <ul>
          <% %w[trail1 trail2 trail3 trail4 trail5 trail6].each do |trail| %>
            <% if !(trailsegment["#{trail}"].nil?) && trailsegment["#{trail}"].size > 1 %>
              <li><%= trailsegment["#{trail}"] %></li>
            <% end %>
          <% end %>
          </ul>
        </td>
        <% if (current_user && current_user.organization == trailsegment.source.code) || current_user.admin? %> 
        <td><%= link_to 'Show', trailsegment %></td>
        <td><%= link_to 'Edit', edit_trailsegment_path(trailsegment) %></td>
        <td><%= link_to 'Destroy', trailsegment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trailsegment', new_trailsegment_path %>
