<h1>Segment List</h1>
<p class='uploadDescription'>
Upload new segments (this will replace all of your organization's current data!)
</p>
<%= form_tag({ action: :upload }, multipart: true) do %>
  <% if current_user.admin? %>
  <%= select_tag "source_id", options_from_collection_for_select(Organization.all, :id, :code) %>
  <% else %>
  <%= hidden_field_tag 'source_id', current_user.organization.id %>
  <% end %>
  <%= file_field_tag 'trailsegments' %><br>
  <%= submit_tag "Submit", data: { confirm: 'Are you sure? This will replace all of your existing segment data.' } %>
<% end %>
<% if current_user.admin? %>
<p class='tableCaption'>
Showing all trail segments.
</p>
<% else %>
<%= link_to "Show all segments", :action => "index", :all => "true" %>
<%= link_to "Show #{current_user.organization.code} segments only", :action => "index", :all => "false" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Length</th>
      <th>Source</th>
      <th>Steward</th>
      <th>Trails</th>
      <th colspan=3>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @trailsegments.each do |trailsegment| %>
    <tr>
      <td><%= trailsegment.length %></td>
      <td><%= trailsegment.source.code if trailsegment.source %></td>
      <td><%= trailsegment.steward.code if trailsegment.steward %></td>
      <td>
        <ul>
          <% %w[trail1 trail2 trail3 trail4 trail5 trail6].each do |trail| %>
          <% if !(trailsegment["#{trail}"].nil?) && trailsegment["#{trail}"].size > 0 %>
          <li><%= trailsegment["#{trail}"] %></li>
          <% end %>
          <% end %>
        </ul>
      </td>
      <% if (current_user.admin? || current_user.organization == trailsegment.source) %>
      <td><%= link_to 'Show', trailsegment, :class => "tableLink" %></td>
      <td><%= link_to 'Edit', edit_trailsegment_path(trailsegment), :class => "tableLink" %></td>
      <td><%= link_to 'Destroy', trailsegment, :class => "tableLink-delete", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

