<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @trailsegment.length %>
</p>

<p>
  <strong>Source:</strong>
  <%= @trailsegment.source %>
</p>

<p>
  <strong>Steward:</strong>
  <%= @trailsegment.steward %>
</p>

<p>
  <strong>Geom:</strong>
  <%= @trailsegment.geom %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @trailsegment.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @trailsegment.name2 %>
</p>

<p>
  <strong>Name3:</strong>
  <%= @trailsegment.name3 %>
</p>

<%= link_to 'Edit', edit_trailsegment_path(@trailsegment) %> |
<%= link_to 'Back', trailsegments_path %>
