<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @trailsegment.length %>
</p>

<p>
  <strong>Source:</strong>
  <%= @trailsegment.source %>
</p>

<p>
  <strong>Steward:</strong>
  <%= @trailsegment.steward %>
</p>

<p>
  <strong>Trail1:</strong>
  <%= @trailsegment.trail1 %>
</p>

<p>
  <strong>Trail2:</strong>
  <%= @trailsegment.trail2 %>
</p>

<p>
  <strong>Trail3:</strong>
  <%= @trailsegment.trail3 %>
</p>

<%= link_to 'Edit', edit_trailsegment_path(@trailsegment) %> |
<%= link_to 'Back', trailsegments_path %>
