<p id="notice"><%= notice %></p>

<div class='formContent-Show'>
  <h3>
    Length:
    <span class='formAnswer'><%= @trailsegment.length %></span>
  </h3>

  <h3>
    Source:
    <span class='formAnswer'><%= @trailsegment.source.code %></span>
  </h3>

  <h3>
    Steward:
    <span class='formAnswer'><%= @trailsegment.steward.code %></span>
  </h3>

  <h3>
    Trail1:
    <span class='formAnswer'><%= @trailsegment.trail1 %></span>
  </h3>

  <h3>
    Trail2:
    <span class='formAnswer'><%= @trailsegment.trail2 %></span>
  </h3>

  <h3>
    Trail3:
    <span class='formAnswer'><%= @trailsegment.trail3 %></span>
  </h3>

  <h3>
    Trail4:
    <span class='formAnswer'><%= @trailsegment.trail4 %></span>
  </h3>

  <h3>
    Trail5:
    <span class='formAnswer'><%= @trailsegment.trail5 %></span>
  </h3>

  <h3>
    Trail6:
    <span class='formAnswer'><%= @trailsegment.trail6 %></span>
  </h3>

  <h3>
    Geometry: 
    <span class='formAnswer'><%= @trailsegment.geom %></span>
  </h3>
</div>

<div class='formButtons'>
  <!--back button <span class='backButton'>
    <%= link_to 'Back', trailsegments_path %>
  </span> -->
  <span class='addNewButton'>
    <%= link_to 'Edit', edit_trailsegment_path(@trailsegment) %>
  </span>
</div>
