<!-- TODO: consider merging this with other upload views -->
<h1>Trail Segment Upload Complete</h1>
<p>Note: See the table below for specific information regarding the upload for each trail segment listing.</p> 
<p>Errors are featured within the table.</p>
<!--<%= link_to "Back to Trailsegment Listing", trailsegments_path %>-->
<p class='tableCaption'>Source matches (matching "<%= @source.code %>")</p>

<table>
  <tr>
    <th>
      Status
    </th>
    <th>
      Trailsegment Name
    </th>
    <th>
      Import errors
    </th>
  </tr>
  <% @added_trailsegments.each do |added_trailsegment| %>
  <tr>
    <td>
      <% if added_trailsegment[:success] %>
      <b><%= @confirmed ? "Added" : "Would Be Added" %></b>
      <% else %>
      <b><%= @confirmed ? "Not Added" : "Would Not Be Added" %></b> 
      <% end %>
    </td>
    <td>
      <% segment_list = [added_trailsegment[:trailsegment].trail1,
      added_trailsegment[:trailsegment].trail2,
      added_trailsegment[:trailsegment].trail3,
      added_trailsegment[:trailsegment].trail4,
      added_trailsegment[:trailsegment].trail5,
      added_trailsegment[:trailsegment].trail6].reject!(&:blank?) %>
      <%= segment_list.join("|") unless segment_list.nil? %>
    </td>
    <td>
      <%= added_trailsegment[:message] %>
    </td>
  </tr>
  <% end %>
  <% @removed_trailsegments.each do |removed_trailsegment| %>
  <tr>
    <td>  
      <% if removed_trailsegment[:success] %>
      <b><%= @confirmed ? "Deleted" : "Would Be Deleted" %></b>  
      <% else %>
      <b><%= @confirmed ? "Not Deleted" : "Would Not Be Deleted" %></b>
      <% end %>
    </td>
    <td>
      <% segment_list = [removed_trailsegment[:trailsegment].trail1,
      removed_trailsegment[:trailsegment].trail2,
      removed_trailsegment[:trailsegment].trail3,
      removed_trailsegment[:trailsegment].trail4,
      removed_trailsegment[:trailsegment].trail5,
      removed_trailsegment[:trailsegment].trail6].reject!(&:blank?) %>
      <%= segment_list.join("|") unless segment_list.nil? %>
    </td>
    <td>
      <%= removed_trailsegment[:trailsegment].created_at %>
    </td>
  </tr>
  <% end %>
</table>
<!-- 
<h3>Source non-matches (should be "<%= @source.code %>")</h3>
<table>
  <tr>
    <th>Trailsegment name</th>
    <th>Source field in Upload</th>
  </tr>
<% @non_source_trailsegments.each do |trailsegment| %>
  <tr>
    <td>
      <%= trailsegment.trail1 %>|
      <%= trailsegment.trail2 %>|
      <%= trailsegment.trail3 %>|
      <%= trailsegment.trail4 %>|
      <%= trailsegment.trail5 %>|
      <%= trailsegment.trail6 %>
    </td>
    <td>
      <%= trailsegment.source.code %>
    </td>
  </tr>
<% end %>
</table>
-->