
<%= form_for(setup_trail(@trail), html: { multipart: true }) do |f| %>
  <% if @trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
      <% @trail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class='h3-Edit'><%= f.label :name %></span>
    <span class='formAnswer'><%= @trail.name %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :status %></span>
    <span class='finePrint'>Note: Notices appear in yellow, and are good for displaying information about events or non-closure related notes. Closures appear in red.</span>
    <%= f.select :status, [["Open", 0], ["Notice", 1], ["Closed", 2]] %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :statustext, "Status Description" %></span>   
    <span class='finePrint'>Note: You need to include a short description if the trail status is "Notice" or "Closed". We don't have any prepopulated messages, so your description is critical for the user to understand why an alert icon appears in a trail description. "Open" trails do not display a status description.</span>
    <%= f.text_field :statustext, size: 120 %>
  </div>
  <div class="field">
     <span class='h3-Edit'><%= f.label :description, "Trail Description" %></span>
     <span class='finePrint'>Feel free to add some basic html here to insert things like links and italics. </span>
    <%= f.text_area :description, cols: 69, rows: 5 %>
  </div>
  <div class="field">
    <%= f.fields_for :photorecord do |ff| %>
       <span class='h3-Edit'><%= ff.label :photo %></span>
       <span class='finePrint'>Note:  The app was designed for standard horizontal images. These dimensions allow people to see the photo, plus important information about the trail (length, popular activities) before scrolling. 
        <br><br>
        Accepted file types: .jpegs and .pngs</span>
      <% @trail.photorecord.photo.url %>
      <% unless @trail.photorecord.photo.url =~ /missing.png/ %>
      <%= link_to image_tag(@trail.photorecord.photo.url(:thumb)), @trail.photorecord.photo.url %>
      <% end %>
      <%= ff.file_field :photo %><br>
       <span class='h3-Edit'><%= ff.label :credit %></span>
      <%= ff.text_field :credit %><br>
      <%= ff.hidden_field :source_id, value: @trail.source_id %>
      <%= ff.hidden_field :name, value: @trail.name %>
      <%= ff.hidden_field :id, value: @trail.photorecord.id %>
    <% end %> 
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label "Delete current photo:" %></span>
    <%= f.check_box :delete_photo, { checked: 1 } %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :source %></span>
    <span class='formAnswer'><%= @trail.source.code %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :steward %></span>
    <span class='finePrint'>This is the organization trail users should contact for more information.</span>
    <%= f.select :steward_id, Organization.all.collect{ |org| [org.code, org.id]} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :length, "Length" %></span>
    <%= f.text_field :length, size: 3 %>
    <span class='formAnswer'>miles</span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :accessible, "Accessible" %>:</span>
    <%= f.select :accessible, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :hike, "Hiking" %></span>
    <%= f.select :hike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :equestrian %></span>
    <%= f.select :equestrian, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :xcntryski, "Cross-Country Ski" %></span>
    <%= f.select :xcntryski, ["y", "n"], {include_blank: true} %>
  </div>
  <!-- We decided not to show "dogs in detail panel, so I am hiding it here <div class="field">
    <span class='h3-Edit'><%= f.label :dogs %></span>
    <%= f.select :dogs, ["y", "n"], {include_blank: true} %>
  </div> -->
  <div class="field">
    <span class='h3-Edit'><%= f.label :roadbike, "Road Bikes" %></span>
    <%= f.select :roadbike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :mtnbike, "Mountain Bikes" %></span>
    <span class='finePrint'>This field has been manually disabled in the user-facing app (the button is gray). If you select "y" get in touch with the admin so that the html/css can be updated and users can begin filtering for mountain bikes.</span>
    <%= f.select :mtnbike, ["y", "n"], {include_blank: true} %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :conditions, "ADDITIONAL TRAIL CONDITIONS" %></span>
      <span class='finePrint'>This is extra space to describe special circumstances for the trail types (hiking, cycling, wheelchair accessibility, equestrian use, skiing, and mountain biking).</span>
    <%= f.text_area :conditions, cols: 69, rows: 5 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :map_url, "Map URL" %></span>
    <%= f.text_field :map_url, size: 120 %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :trlsurface, "Trail Surface" %></span>
    <%= f.text_field :trlsurface %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= f.submit :Cancel %>
  </div>
<% end %>
