
<%= form_for(setup_trail(@trail), html: { multipart: true }) do |f| %>
  <% if @trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
      <% @trail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>:
    <%= @trail.name %>
  </div>
  <div class="field">
    <%= f.label :status %>:
    <%= f.select :status, [["Open", 0], ["Notice", 1], ["Closed", 2]] %>
  </div>
  <div class="field">
    <%= f.label :statustext, "Status Text (not displayed if Status is 'Open')" %><br>
    <%= f.text_field :statustext, size: 120 %>
  </div>
  <div class="field">
    <%= f.label :description, "Trail Description" %><br>
    <%= f.text_area :description, cols: 100, rows: 5 %>
  </div>
  <div class="field">
    <%= f.fields_for :photorecord do |ff| %>
      <%= ff.label :photo %>:
      <% @trail.photorecord.photo.url %>
      <% unless @trail.photorecord.photo.url =~ /missing.png/ %>
      <%= link_to image_tag(@trail.photorecord.photo.url(:thumb)), @trail.photorecord.photo.url %>
      <% end %>
      <%= ff.file_field :photo %><br>
      <%= ff.hidden_field :source_id, value: @trail.source_id %>
      <%= ff.hidden_field :name, value: @trail.name %>
      <%= ff.hidden_field :id, value: @trail.photorecord.id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "Delete current photo:" %>
    <%= f.check_box :delete_photo, { checked: 1 } %>
  </div>
  <div class="field">
    <%= f.label :source %>:
    <%= @trail.source.code %>
  </div>
  <div class="field">
    <%= f.label :steward %>:
    <%= @trail.steward.code %>
  </div>
  <div class="field">
    <%= f.label :length, "Length (miles)" %>
    <%= f.text_field :length, size: 3 %>
  </div>
  <div class="field">
    <%= f.label :hike, "Hiking" %>:
    <%= f.select :hike, ["Y", "N"] %>
  </div>
  <div class="field">
    <%= f.label :equestrian %>:
    <%= f.select :equestrian, ["Y", "N"] %>
  </div>
  <div class="field">
    <%= f.label :xcntryski, "Cross-Country Ski" %>:
    <%= f.select :xcntryski, ["Y", "N"] %>
  </div>
  <div class="field">
    <%= f.label :dogs %>:
    <%= f.select :dogs, ["Y", "N"] %>
  </div>
  <div class="field">
    <%= f.label :roadbike, "Road Bikes" %>:
    <%= f.select :roadbike, ["Y", "N"] %>
  </div>
  <div class="field">
    <%= f.label :mtnbike, "Mountain Bikes" %>:
    <%= f.select :mtnbike, ["Y", "N"] %>
  </div>
  <div class="field">
    <%= f.label :conditions, "Special Notes on Accessibility or Use" %>:<br>
    <%= f.text_area :conditions, cols: 100, rows: 5 %>
  </div>
  <div class="field">
    <%= f.label :map_url, "Map URL" %>:<br>
    <%= f.text_field :map_url, size: 120 %>
  </div>
  <div class="field">
    <%= f.label :trlsurface, "Trail Surface" %>:<br>
    <%= f.text_field :trlsurface %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= f.submit :Cancel %>
  </div>
<% end %>
