<%= form_for(@trail) do |f| %>
  <% if @trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
      <% @trail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= @trail.name %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= @trail.source %>
  </div>
  <div class="field">
    <%= f.label :steward %><br>
    <%= f.text_field :steward %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :equestrian, "Equestrian (Y or N)" %><br>
    <%= f.text_field :equestrian %>
  </div>
  <div class="field">
    <%= f.label :xcntryski %><br>
    <%= f.text_field :xcntryski %>
  </div>
  <div class="field">
    <%= f.label :trlsurface %><br>
    <%= f.text_field :trlsurface %>
  </div>
  <div class="field">
    <%= f.label :dogs %><br>
    <%= f.text_field :dogs %>
  </div>
  <div class="field">
    <%= f.label :roadbike %><br>
    <%= f.text_field :roadbike %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 100, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :hike_time %><br>
    <%= f.text_field :hike_time %>
  </div>
  <div class="field">
    <%= f.label :map_url %><br>
    <%= f.text_field :map_url, size: 120 %>
  </div>
  <div class="field">
    <%= f.label :surface %><br>
    <%= f.text_field :surface %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
