<h1>Listing trails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
<!--       <th>Opdmd access</th>
      <th>Source</th>
      <th>Steward</th>
      <th>Length</th>
      <th>Horses</th>
      <th>Dogs</th>
      <th>Bikes</th> -->
      <th>Description</th>
      <!-- <th>Difficulty</th> -->
      <!-- <th>Hike time</th> -->
      <!-- <th>Print map url</th> -->
      <!-- <th>Surface</th> -->
      <th width=3>Action</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td><%= trail.name %></td>
<!--         <td><%= trail.opdmd_access %></td>
        <td><%= trail.source %></td>
        <td><%= trail.steward %></td>
        <td><%= trail.length %></td>
        <td><%= trail.equestrian %></td>
        <td><%= trail.dogs %></td>
        <td><%= trail.roadbike %></td> -->
        <td><%= truncate(trail.description, length: 50) %></td>
        <!-- <td><%= trail.difficulty %></td> -->
        <!-- <td><%= trail.hike_time %></td> -->
        <!-- <td><%= trail.map_url %></td> -->
        <% if @current_user %>
        <td><%= link_to 'Show', trail %></td>
        <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
        <td><%= link_to 'Delete', trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Trail', new_trail_path %> -->
