<h1>Trails</h1>
<p class='uploadDescription'>
Upload a CSV or GeoJSON (any geodata supplied will be ignored) of your current trail data to update this list (make sure it follows the <a href="https://docs.google.com/a/codeforamerica.org/document/d/1frt5HkKTdqEaNEnfk2Dq9IYxctvPjVnoU_F33Px2zSQ/edit" target="_blank">standard</a>). Note: this will replace all of your organization's existing data! Before replacing content, we recommend downloading your current data in case anything goes wrong. You can download the current trail data for <%= current_user.admin? ? "all sources" : "#{current_user.organization.code}" %> in 
    
<% if current_user.admin? %>
    <%= link_to "JSON", {action: "index", format: :json}, target: "_blank" %> or 
    <%= link_to "CSV", {action: "index", format: :csv}, target: "_blank" %>.
    <% else %>
    <%= link_to "JSON", {action: "index", source_id: current_user.organization_id, format: :json}, target: "_blank" %> or
    <%= link_to "CSV", {action: "index", source_id: current_user.organization_id, format: :csv}, target: "_blank" %>.
    <% end %>
Note: The data standard includes a field for allowing dogs on the trails, but due to feedback it has been removed from the user-facing application.
</p>
<%= form_tag({ action: :upload }, multipart: true) do %>
  <% if current_user.admin? %>
    <%= select_tag "source_id", options_from_collection_for_select(Organization.all, :id, :code) %>
  <% else %>
  <%= hidden_field_tag 'source_id', current_user.organization.id %>
  <% end %>
  <%= file_field_tag 'trails' %><br>

  <%= submit_tag "Test Upload", id: "submitData", data: { confirm: 'Are you sure? If the "Replace Existing Data" box is checked, this will replace all of your existing trail data.' } %>
  <%= label_tag :confirmed, 'Replace Existing Data' %>
  <%= check_box_tag 'confirmed', 'Confirm', false, {id: "confirmed", onclick: "if ($('#confirmed').is(':checked')) { $('#submitData').val('Upload Data') } else {  $('#submitData').val('Test Upload'); }"} %> 
<% end %>
<br>
<% if current_user.admin? %>
<p class="tableCaption">
  Showing all trails.
</p>
<% else %> 
<span class='tabLeft <%= "active" if params[:all] == "true" %>'><%= link_to "All Trails", :action => "index", :all => "true" %></span>
<% if current_user.organization %>
<span class='tabRight <%= "active" if params[:all] == "false" || params[:all].nil? %>'><%= link_to "Only #{current_user.organization.code} Trails", :action => "index", :all => "false" %></span>
<% end %>
<% end %>
<table id='trails'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Status Text</th>
      <th>Description</th>
      <th>Source</th>
      <th>Steward</th>
      <th>Photo</th>
      <th colspan=3>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
    <tr>
      <td><%= trail.name %></td>
      <td>
        <% if trail.status == 0 %>
        Open
        <% elsif trail.status == 1 %>
        Notice
        <% elsif trail.status == 2 %>
        Closed
        <% end %>
      </td>
      <td><%= truncate(trail.statustext, length: 50) %></td>
      <td><%= truncate(trail.description, length: 50) %></td>
      <td><%= trail.source.code if trail.source %></td>
      <td><%= trail.steward.code if trail.steward %></td>
      <td>
        <%= image_tag trail.photorecord.photo.url(:thumb) unless (trail.photorecord.nil? || trail.photorecord.photo.url =~ /missing.png$/) %>
      </td>
      <% if (current_user.admin? || current_user.organization == trail.source) %>
      <td class="actions"><%= link_to 'View', trail, :class => "tableLink" %></td>
      <td class="actions"><%= link_to 'Edit', edit_trail_path(trail), :class => "tableLink" %></td>
      <td class="actions"><%= link_to 'Delete', trail, :class => "tableLink-delete", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

