
<p id="notice"><%= notice %></p>

<div class='formContent-Show'>
  <h3>
    Name:
    <span class='formAnswer'><%= @trail.name %></span>
  </h3>

  <h3>
    Status:
    <span class='formAnswer'><%= @trail.status %></span>
  </h3>

  <h3>
    Status Description:
    <span class='formAnswer'><%= @trail.statustext %></span>

  <h3>
    Description:
    <span class='formAnswer'><%= @trail.description %></span>
  </h3>

  <h3>
    Photo
    <span class='formAnswer'><% if @trail.photorecord && @trail.photorecord.photo? %>
      <span class='h3-Photo'>medium</span>
      <%= image_tag @trail.photorecord.photo.url(:medium) %>
      <br><br>
      <span class='h3-Photo'>thumb</span>
      <%= image_tag @trail.photorecord.photo.url(:thumb) %>
    <% else %>
      [None]
    <% end %></span>
  </h3>

  <h3>
    Photo credit:
    <span class='formAnswer'><% if @trail.photorecord && @trail.photorecord.credit? %>
      <%= @trail.photorecord.credit %>
    <% else %>
      [None]
    <% end %></span>
  <h3>
    Source:
    <span class='formAnswer'><%= @trail.source.code %></span>
  </h3>

  <h3>
    Steward:
    <span class='formAnswer'><%= @trail.steward.code %></span>
  </h3>

  <h3>
    Length:
    <span class='formAnswer'><%= @trail.length %></span>
  </h3>

  <h3>
    Hiking:
    <span class='formAnswer'><%= @trail.hike %></span>
  </h3>

  <h3>
    Equestrian:
    <span class='formAnswer'><%= @trail.equestrian %></span>
  </h3>

  <h3>
    Cross-Country Ski:
    <span class='formAnswer'><%= @trail.xcntryski %></span>
  </h3>
<!-- We decided not to display this in trailsy
  <h3>
    Dogs:
    <span class='formAnswer'><%= @trail.dogs %></span>
  </h3> -->

  <h3>
    Road Bikes:
    <span class='formAnswer'><%= @trail.roadbike %></span>
  </h3>

  <h3>
    Mountain Bikes:
    <span class='formAnswer'><%= @trail.mtnbike %></span>
  </h3>

  <h3>
    Map url:
    <span class='formAnswer'><a href="<%= @trail.map_url %>" target="_blank"><%= @trail.map_url %></a></span>
  </h3>

  <h3>
    Surface:
    <span class='formAnswer'><%= @trail.trlsurface %></span>
  </h3>
  </div>

  <div class='formButtons'>
    <!--back button<span class='backButton'>
      <%= link_to 'Back', trails_path %>
    </span> -->
    <span class='addNewButton'>
      <%= link_to 'Edit', edit_trail_path(@trail) %>
    </span>
  </div>



