<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @trail.status %>
</p>

<p>
  <strong>Status Text:</strong>
  <%= @trail.statustext %>

<p>
  <strong>Description:</strong>
  <%= @trail.description %>
</p>

<p>
  <strong>Photo</strong>
  <% if @trail.photo? %>
    original:
    <%= image_tag @trail.photo.url %>
    medium:
    <%= image_tag @trail.photo.url(:medium) %>
    thumb:
    <%= image_tag @trail.photo.url(:thumb) %>
  <% end %>
</p>

<p>
  <strong>Source:</strong>
  <%= @trail.source %>
</p>

<p>
  <strong>Steward:</strong>
  <%= @trail.steward %>
</p>

<p>
  <strong>Length:</strong>
  <%= @trail.length %>
</p>

<p>
  <strong>Hiking:</strong>
  <%= @trail.hike %>
</p>

<p>
  <strong>Equestrian:</strong>
  <%= @trail.equestrian %>
</p>

<p>
  <strong>Cross-Country Ski:</strong>
  <%= @trail.xcntryski %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= @trail.dogs %>
</p>

<p>
  <strong>Road Bikes:</strong>
  <%= @trail.roadbike %>
</p>

<p>
  <strong>Mountain Bikes:</strong>
  <%= @trail.mtnbike %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @trail.map_url %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @trail.trlsurface %>
</p>

<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
