<h1>Processing Upload</h1>
<%= link_to "Back to Trail Listing", trails_path %>
<% if current_user.admin? %>
<h3>Source matches (matching "<%= @source.code %>")</h3>
<% else %>
<h3>Source matches (matching "<%= current_user.organization.code %>")</h3>
<% end %>
<table>

  <% @added_trails.each do |added_trail| %>
  <tr>
    <td>
      <% if added_trail[:success] %>
      <b>Added</b>
      <% else %>
      <b>Not Added</b> 
      <% end %>
    </td>
    <td>
      <%= added_trail[:trail].name %>
    </td>
    <td>
      <%= added_trail[:message] %>
    </td>
  </tr>
  <% end %>
  <% @removed_trails.each do |removed_trail| %>
  <tr>
    <td>  
      <% if removed_trail[:success] %>
      <b>Deleted</b> 
      <% else %>
      <b>Not Deleted</b>
      <% end %>
    </td>
    <td>
      <%= removed_trail[:trail].name %>
    </td>
    <td>
      <%= removed_trail[:trail].created_at %>
    </td>
  </tr>
  <% end %>
</table>
<h3>Source non-matches</h3>
<table>
  <% @non_source_trails.each do |trail| %>
  <tr>
    <td>
      <%= trail.name %>
    </td>
    <td>
      <%= trail.source.code %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "Back to Trail Listing", trails_path %>