<h1>Upload Complete</h1>
<p>Note: See the table below for specific information regarding the upload for each trail listing.</p> 
<p>Errors are featured within the table.</p>
<!--
<%= link_to "Back to Trail Listing", trails_path %>-->
<p>
<% if @confirmed %>
  Trail data updated. Note the changes below.
<% else %>
  See your proposed changes below. Your trail data has NOT been permanently updated. To update your data, hit the "back" button on your browser and check the "Confirmed" checkbox before submitting. Note that duplicate trail names are not detected in this preview. 
<% end %>
</p>
<% if current_user.admin? %>
<p class='tableCaption'>Source matches (matching "<%= @source.code %>")</p>
<% else %>
<p class='tableCaption'>Source matches (matching "<%= current_user.organization.code %>")</p>
<% end %>
</p>
<table>
  <tr>
    <th>
      Status
    </th>
    <th>
      Trailhead Name
    </th>
    <th>
      Import errors
    </th>
  </tr>
  <% @added_trails.each do |added_trail| %>
  <tr>
    <td>
      <% if added_trail[:success] %>
      <b><%= @confirmed ? "Added" : "Would Be Added" %></b>
      <% else %>
      <b><%= @confirmed ? "Not Added" : "Would Not Be Added" %></b> 
      <% end %>
    </td>
    <td>
      <%= added_trail[:trail].name %>
    </td>
    <td>
      <%= added_trail[:message] %>
    </td>
  </tr>
  <% end %>
  <% @removed_trails.each do |removed_trail| %>
  <tr>
    <td>  
      <% if removed_trail[:success] %>
      <b><%= @confirmed ? "Deleted" : "Would Be Deleted" %></b> 
      <% else %>
      <b><%= @confirmed ? "Not Deleted" : "Would Not Be Deleted" %></b>
      <% end %>
    </td>
    <td>
      <%= removed_trail[:trail].name %>
    </td>
    <td>
      <%= removed_trail[:trail].created_at %>
    </td>
  </tr>
  <% end %>
</table>
<!-- 
<h3>Source non-matches</h3>
<table>
  <% @non_source_trails.each do |trail| %>
  <tr>
    <td>
      <%= trail.name %>
    </td>
    <td>
      <%= trail.source.code %>
    </td>
  </tr>
  <% end %>
</table>
-->