<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code, size: 13 %>
  </div>
  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, size: 13 %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :logo %>:
    <% if @organization.logo.url =~ /missing.png/ %>
      [None]
    <% else %>
    <%= link_to image_tag(@organization.logo.url(:medium)) %>
    <% end %>
    <%= f.file_field :logo %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
