<h1>Listing organizations</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Full name</th>
      <th>Phone</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.code %></td>
        <td><%= organization.full_name %></td>
        <td><%= organization.phone %></td>
        <td><%= organization.url %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
