<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @organization.code %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @organization.full_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organization.url %>
</p>

<p>
  <strong>Logo:</strong>
  <% if @organization.logo %>
  <%= @organization.logo.url %>
    <%= image_tag @organization.logo.url %>
  <% else %>
    [None]
  <% end %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
