<!DOCTYPE html>
<html>
<head>
  <title>Trailsy Admin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <ul class="hmenu">
    <li class="<%= 'active' if current_page?(trails_path) %>"><%= link_to "Trails", trails_path %></li>
    <li class="<%= 'active' if current_page?(trailheads_path) %>"><%= link_to "Trailheads", trailheads_path %></li>
    <li class="<%= 'active' if current_page?(trailsegments_path) %>"><%= link_to "Segments", trailsegments_path %></li>
  </ul>
<%= yield %>

</body>
</html>
